@font-face {
  font-family: Jersey;
  src: url(./assets/fonts/Jersey25-Regular.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Jersey, 'Courier New', Courier, monospace;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  margin: 16px;
}
.logo {
  background-color: red;
  color: white;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 4em;
}
.score {
  font-size: 1.5em;
  margin-right: 2em;
}
.memory-card-deck {
  margin-left: 10vw;
  margin-right: 10vw;
  display: flex;
  flex-wrap: wrap;
  column-gap: 7vw;
  row-gap: 7vh;
  justify-content: center;
}

.card {
  text-align: center;
  font-size: 1.7em;

}
.card img {
  cursor: pointer;
  border-radius: 20px;
}
button {
  border: none;
  background-color: transparent;
}

.restart {
  position: absolute;
  left: 49vw;
  font-size: 2.5em;
  color: white;
  background-color: red;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}